* {
	font-family: sans-serif;
	font-size: 16px;
}

.p-3 {color: yellow}

h1 {font-size: 40px}

#h2 {text-transform: uppercase}

.to-be-learned li {background-color: lightblue}

ol[name="tools"] li {border: 1px solid coral}

img + ul li {list-style: none}

body img {
width:  100px;
border-radius: 100px;
}

img ~ p {text-align: center}

ul > li {letter-spacing: 5px}
